.container {
  margin-bottom: 130px;
  .root {
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      margin: 0px 7px;
    }
    a {
      display: inline-block;
      padding: 9px 16px;
      border: 1px solid black;
      cursor: pointer;
      transition-duration: 400ms;
      &:first-of-type,
      &:last-of-type {
        border: none;
      }
      &:hover {
        color: white;
        background-color: black;
        opacity: 0.9;
        scale: 1.1;
      }
      &:active {
        background-color: black;
        opacity: 0.9;
        color: white;
        scale: 1;
      }
    }
  }

  :global {
    .selected {
      background-color: black;
      color: white;
    }
  }
}
