.root {
  margin-bottom: 90px;
  .categories {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    @media (max-width: 960px) {
      justify-content: flex-start;
      column-gap: 30px;
    }
    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
    }
    .category {
      display: inline-block;
      cursor: pointer;
      padding: 19px 65px;
      border: 1px solid black;
      transition-duration: 400ms;
      &:hover {
        background-color: black;
        opacity: 0.8;
        color: white;
        scale: 1.1;
      }
      &:active {
        background-color: black;
        opacity: 0.9;
        color: white;
        scale: 1;
      }
    }
    .active {
      background-color: black;
      color: white;
      display: inline-block;
      cursor: pointer;
      padding: 19px 65px;
      border: 1px solid black;
    }
  }
}
