.root {
  margin-bottom: 90px;
  .categories {
    display: flex;
    width: 1050px;
    justify-content: space-between;
    .category {
      display: inline-block;
      cursor: pointer;
      padding: 19px 65px;
      border: 1px solid black;
      &:hover {
        background-color: black;
        opacity: 0.5;
        color: white;
      }
      &:active {
        background-color: black;
        opacity: 0.8;
        color: white;
      }
    }
    .active {
      background-color: black;
      color: white;
      display: inline-block;
      cursor: pointer;
      padding: 19px 65px;
      border: 1px solid black;
    }
  }
}
