.root {
  .title {
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 25px;
  }
  .breads {
    display: flex;
    margin-bottom: 210px;
    .bread {
      &:first-of-type {
        margin-right: 40px;
        cursor: pointer;
        position: relative;
        &::after {
          content: "-";
          position: absolute;
          right: -41%;
          bottom: -41%;
          font-size: 30px;
          cursor: default;
        }
      }
      &:last-of-type {
        color: #909090;
      }
    }
  }

  .list {
    text-align: left;
    margin-bottom: 65px;
    color: #808080;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    row-gap: 65px;
    margin-bottom: 65px;
  }
}
