.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  @media (max-width: 1140px) {
    grid-template-columns: 1fr;
  }
  .info {
    @media (max-width: 960px) {
      padding-left: 20px;
    }
    .title {
      margin-top: 140px;
      margin-bottom: 45px;
      text-align: left;
      font-weight: 400;
      font-size: 35px;
      @media (max-width: 1140px) {
        text-align: center;
      }
    }
    .about {
      margin-bottom: 50px;
      width: 310px;
      text-align: right;
      font-size: 16px;
      @media (max-width: 1140px) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
    .buttonSection {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 120px;
      @media (max-width: 1140px) {
        margin-left: auto;
        margin-right: auto;
      }

      .arrow {
        padding: 20px 26px;
        background-color: rgba($color: #6e9c9f, $alpha: 0.1);
        svg {
          transition-duration: 400ms;
        }
        &:hover {
          opacity: 0.8;
          svg {
            scale: 1.1;
          }
        }
        &:active {
          opacity: 0.5;
        }
      }
      .button {
        display: flex;
        color: white;
        background-color: #6e9c9f;
        padding: 20px 50px;
        border: 1px solid #6e9c9f;
        transition-duration: 500ms;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.5;
          scale: 1.02;
        }
      }
    }
    .rectangleBlock {
      margin: 0 auto;
      display: flex;
      width: 110px;
      justify-content: space-between;
      margin-bottom: 190px;
      .rectangle {
        cursor: pointer;
      }
    }
  }
  .gallery {
    position: relative;
    @media (max-width: 1140px) {
      display: none;
    }
    img {
      max-width: 100%;
      z-index: 1;
      position: absolute;
      box-sizing: content-box;
      cursor: pointer;
      transition-duration: 900ms;
      &:hover {
        scale: 1.1;
      }
      &:first-of-type {
        position: relative;
      }
      &:nth-of-type(2) {
        top: 15%;
        left: 67%;
      }
      &:last-of-type {
        top: 50%;
        right: 70%;
      }
    }
    .bg {
      position: absolute;
      width: 42.2vw;
      height: 107.5vh;
      background-color: #f1eadc;
      top: -15%;
      left: 20%;
      z-index: 0;
    }
  }
}
