.root {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

nav {
  .mainNav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    li {
      font-size: 15px;
      &:hover {
        color: #6e9c9f;
      }
    }
  }
}

.userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .number {
    margin-left: 10px;
    margin-right: 67px;
    font-size: 15px;
    &:hover {
      color: #6e9c9f;
    }
  }
  .phone {
    padding: 6px;
    width: 27px;
    height: 27px;
    &:hover {
      background-color: #6e9c9f;

      & path {
        fill: #ffffff;
      }
    }
  }
  .cartBlock {
    display: flex;
    position: relative;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 18px;
      color: white;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 55%;
    }
  }
}
