.root {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  @media (max-width: 1024px) {
    padding: 0 40px;
  }
}

nav {
  .mainNav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    li {
      font-size: 15px;
      transition-duration: 200ms;
      &:hover {
        color: #6e9c9f;
        scale: 1.1;
      }
    }
  }
}

.userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .number {
    margin-left: 10px;
    margin-right: 67px;
    font-size: 15px;
    transition-duration: 400ms;
    &:hover {
      color: #6e9c9f;
    }
  }
  .phone {
    padding: 6px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    transition-duration: 400ms;
    &:hover {
      background-color: #6e9c9f;
      scale: 1.1;

      & path {
        fill: #ffffff;
      }
    }
  }
  .cartBlock {
    display: flex;
    position: relative;
    transition-duration: 400ms;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 18px;
      color: white;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 55%;
    }
    &:hover {
      scale: 1.1;
    }
    &:active {
      scale: 1.1;
    }
  }
}
