.App {
  text-align: center;
  background: #ffffff;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 50px;
  @media (max-width: 1126px) {
    padding: 0 20px;
  }
}

.Footer {
  background-color: #f1eadc;
  max-width: 100vw;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

a {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
}
